header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid black;
  max-width: 89rem;
  height: 5rem;
}


#searchbar {
    margin-right: 500px;
    height: 2rem;
    width: 35rem;
}


#cesta {
    margin-right: 300px;
    margin-top: -5px;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(65, 65, 65);
    display: inline-flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row-reverse;
    
}

#bask { 
    height: 2rem;
    margin-top: -5px;
}

#cuenta {
    margin-right: -380px;
    margin-top: -5px;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(65, 65, 65);
    display: inline-flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row-reverse;
}

#user {
    height: 1.5rem;
    margin-right: 5px;
}


#logo {
  height: 5rem;
  display: flex;
  margin-right: 50px;
}

.startheader {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}





.lista {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: solid black;
  background-color: rgba(163, 163, 163, 0.657);
}

.lista2 {
  border: solid black;
  background-color: rgba(218, 218, 218, 0.657);
  height: 3rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lofert {
  color: rgb(65, 66, 65);
  margin-right: 2rem;
  margin-left: 1rem;
  font-family: Biotif, "Noto Sans", "Noto Sans JP", "Noto Sans KR", Helvetica;
  font-size: 0.9rem;
  font-weight: 400;
  height: 4rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#barraopc {
  height: 2rem;
  background-color: rgba(56, 172, 192, 0.924);
}

.listainit {
  color: white;
  margin-right: 2rem;
  margin-left: 1rem;
  font-family: Biotif, "Noto Sans", "Noto Sans JP", "Noto Sans KR", Helvetica;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}


.offer {
  border: solid black;
  text-decoration: none;
  background-color: rgb(236, 236, 235);
  
}

.savings {
    color: rgb(236 , 19 , 19);
    text-decoration: none;
    font-weight: 600;
    display: flex;
    justify-content: center;
    font-style: initial ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#discount-pic {
    height: 28rem;
    width: 88rem;
}


.empty {
  border: solid black;
  height: 5rem;
}


h1 {
    display: flex;
    justify-content: center;
    align-items: center;

}


.bseller {
  border: solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bsopt {
  border: solid black;
  height: 33.3rem;
  width: 20rem;
  background-color: rgb(223, 223, 223);
  margin: 0.5rem;
   
 
}



#impwhey {

    height: 20rem;
    margin-top: .7rem;
   
}

.infowind {
   
    background-color: rgb(255, 255, 255);
    
}

h5 {
    color: red;
    margin-left: .8rem;
    margin-top: 1rem;
    padding-top: 1rem;
}

h4 {
    margin-left: .8rem;
    padding-bottom: .5rem;
    color: rgb(119, 118, 118);
}

#precio {
    color: black;
    margin-left: .8rem;
    padding-bottom: .5rem;
    font-weight: 800;
    font-size: 1.2rem;
    
}


.nameprod {
    margin-left: .8rem;
    color: rgb(51, 46, 46);
    font-size: 1.3rem;
    font-weight: 800;
       
}


#discount-pic {
    height: 25rem;
    width: 86rem;
    margin-left: 1rem;
}

#clothing-pic {
    width: 85rem;
    margin-left: 1.5rem;

}



.lfoo {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
