header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 88rem;
  height: 5rem;
  margin-left: 0;
}

#searchbar {
  margin-right: 500px;
  margin-left: 50px;
  height: 2rem;
  width: 35rem;
}

#cesta {
  margin-right: 400px;
  margin-top: -5px;
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(65, 65, 65);
  display: inline-flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: row-reverse;
}

#bask {
  height: 2rem;
  margin-top: -5px;
}

#cuenta {
  margin-right: -220px;
  margin-top: -5px;
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(65, 65, 65);
  display: inline-flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: row-reverse;
}

#user {
  height: 1.5rem;
  margin-right: 5px;
}

#logo {
  height: 5rem;
  display: flex;
  margin-left: 250px;
}

.startheader {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.lista {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(163, 163, 163, 0.657);
}


#barraopc {
  height: 2rem;
  background-color: rgba(56, 172, 192, 0.924);
  transition-property: background-color, color;
  transition-duration: 1.5s;
  
}



.listainit {
  color: white;
  margin-right: 2rem;
  margin-left: 1rem;
  margin-top: .2rem;
  font-family: Biotif, "Noto Sans", "Noto Sans JP", "Noto Sans KR", Helvetica;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

.lista2 {
  
  background-color: rgba(218, 218, 218, 0.657);
  height: 3rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lofert {
  color: rgb(65, 66, 65);
  margin-right: 2rem;
  margin-left: 1rem;
  font-family: Biotif, "Noto Sans", "Noto Sans JP", "Noto Sans KR", Helvetica;
  font-size: 0.9rem;
  font-weight: 400;
  height: 4rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



#barraopc:hover {
  height: 2rem;
  background-color: rgba(56, 192, 97, 0.924);
  transition-property: background-color, color;
}



#offerhov:hover {
  background-color: rgba(119, 175, 185, 0.924);
}

#nutri:hover {
  color: black;
}

#ropa:hover {
  color: black;
}

#barra:hover {
  color: black;
}

#vitam:hover {
  color: black;
}

#reque:hover {
  color: black;
}

#vegan:hover {
  color: black;
}

#pro:hover {
  color: black;
}

#salud:hover {
  color: black;
}

#blog:hover {
  color: black;
}

.offer {
  
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}

.savings {
  color: rgb(189, 66, 66);
  height: 3rem;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  font-style: initial;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#discount-pic {
  height: 28rem;
  width: 88rem;
}

.empty {
  height: 3rem;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-left: 21.7rem;
  width: 40rem;
}

.sect {
  height: 8rem;
  width: 8rem;
  margin: 3rem;
  margin-left: 6rem;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.namesect {
  margin-left: 0.8rem;
  color: rgb(141, 31, 31);
  font-size: 1.1rem;
  font-weight: 800;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.titlesec {
  height: 8rem;
  width: 15rem;
}

#alimentaTuCuerpo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  
  
} 

#recu {
  margin-top: 84px;

}


}



.tresopciones {
  
  height: 1rem;
  
 

}


.picthree{

  height: 15rem;
  width: 27rem;
  
}


#recus{

  height: 30rem;
 
}

#picrec{
  margin-top: -3px;
}


#butrec{
  margin-top: 25px;
}

#impulso {
  color: black;
  font-size: 1.5rem;
  margin-top: -10px;
  margin-bottom: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
 
}

#rend {
  margin-left: 27px;
}


.buttonenerg{
  color: rgba(56, 172, 192, 0.924);
  background-color: rgb(255, 255, 255);
  height: 3rem;
  width: 6rem;
  margin-left: .7rem;
  border-color: rgba(56, 172, 192, 0.712);
}



#butrec:hover{
  background-color:  rgba(178, 214, 221, 0.712);
  
}

#butenerg:hover{
  background-color:  rgba(178, 214, 221, 0.712);
}

#butren:hover{
  background-color:  rgba(178, 214, 221, 0.712);
}


#impulsoS {
  color: black;
  font-size: 1.5rem;
  margin-top: -60px;
 
}

.bseller {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bsopt {
  
  height: 32.5rem;
  width: 20rem;
  background-color: rgb(223, 223, 223);
  margin: 0.5rem;
}

#impwhey {
  height: 20rem;
  margin-top: 0.7rem;
}

.infowind {
  background-color: rgb(255, 255, 255);
}

h5 {
  color: red;
  margin-left: 0.8rem;
  margin-top: 1rem;
  padding-top: 1rem;
}

h4 {
  margin-left: 0.8rem;
  padding-bottom: 0.5rem;
  color: rgb(119, 118, 118);
}

#precio {
  color: black;
  margin-left: 0.8rem;
  padding-bottom: 0.5rem;
  font-weight: 800;
  font-size: 1.2rem;
}

.nameprod {
  margin-left: 0.8rem;
  color: rgb(51, 46, 46);
  font-size: 1.1rem;
  font-weight: 800;
}

#impact:hover {
  color: rgb(158, 151, 141);
}
#pancake:hover {
  color: rgb(158, 151, 141);
}
#dwhey:hover {
  color: rgb(158, 151, 141);
}
#clear:hover {
  color: rgb(158, 151, 141);
}

#discount-pic {
  height: 25rem;
  width: 86rem;
  margin-left: 1rem;
}

#clothing-pic {
  width: 85rem;
  height: 30rem;
  margin-left: 1.5rem;
}

.lfoo {
  margin-top: 1rem;
  text-decoration: none;
  color: aliceblue;
  display: inline-flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: row-reverse;
}

.aw {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-bottom: 2rem;
  text-decoration: none;
  border-top: solid rgb(194, 192, 192);
}

.contact {
  height: 7.5rem;
  display: flex;
  justify-content: space-evenly;
  justify-content: baseline;
  align-items: baseline;
  background-color: rgb(80, 80, 80);
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.reg {
  background-color: rgba(56, 172, 192, 0.924);
  height: 2rem;
  width: 10rem;
  color: azure;
  font-weight: 800;
  font-size: 1rem;
  border: thin black;
}

#reg:hover {
  background-color: rgba(132, 219, 235, 0.924);
}

.iconcontact {
  height: 2rem;
}

#divregis {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
}

#divconect {
  font-size: 1.1rem;
}

.emptydown {
  height: 2rem;
  background-color: rgb(126, 127, 128);
}

footer {
  background-color: rgb(126, 127, 128);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.iconfoot {
  height: 2rem;
  display: inline-flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-right: 11rem;
  margin-top: -25px;
  border-radius: 5rem;
}

.aw h5 {
  color: aliceblue;
  font-weight: 1500;
  font-size: 1rem;
}
